<a href="https://colab.research.google.com/github/Pogayo/Machine-Learning/blob/master/Commits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import files
uploaded=files.upload()

Saving commits.csv to commits.csv

In [0]:
from textblob import TextBlob
import numpy as np
import pandas as pd
import io
import matplotlib.pyplot as plt

In [0]:
msg_df=pd.read_csv(io.BytesIO(uploaded["commits.csv"]), header=None)

In [22]:
msg_df.head()

     cmt_id  repo_id  ...    cmt_author_timestamp cmt_committer_timestamp
0  34304725    25433  ...  2019-06-22 15:37:20+02  2019-06-22 15:37:20+02
1  34304726    25433  ...  2019-07-29 20:49:46+02  2019-07-29 20:49:46+02
2  34304727    25433  ...  2019-08-02 13:29:20+02  2019-08-02 13:29:20+02
3  34304728    25433  ...  2019-03-26 11:31:18+02  2019-03-26 11:31:18+02
4  34304729    25433  ...  2019-08-02 13:27:38+02  2019-08-02 13:27:38+02

[5 rows x 27 columns]

In [32]:
msg_df["cmt_author_email"].describe()

count                       20946
unique                         75
top       ccarterlandis@gmail.com
freq                         4663
Name: cmt_author_email, dtype: object

In [0]:
columns=[
         "cmt_id" ,
  "repo_id" ,
  "cmt_commit_hash" ,
  "cmt_author_name" ,
  "cmt_author_raw_email" ,
  "cmt_author_email" ,
  "cmt_author_date" ,
  "cmt_author_affiliation" ,
  "cmt_committer_name" ,
  "cmt_committer_raw_email" ,
  "cmt_committer_email" ,
  "cmt_committer_date" ,
  "cmt_committer_affiliation" ,
  "cmt_added" ,
  "cmt_removed" ,
  "cmt_whitespace",
  "cmt_filename" ,
  "cmt_date_attempted" ,
  "cmt_ght_author_id" ,
  "cmt_ght_committer_id",
  "cmt_ght_committed_at",
  "tool_source" ,
  "tool_version",
  "data_source",
  "data_collection_date",
  "cmt_author_timestamp" ,
  "cmt_committer_timestamp"
]

In [0]:
msg_df.columns=columns

In [0]:
def getDuplicateColumns(df):
    '''
    Get a list of duplicate columns.
    It will iterate over all the columns in dataframe and find the columns whose contents are duplicate.
    :param df: Dataframe object
    :return: List of columns whose contents are duplicates.
    '''
    duplicateColumnNames = set()
    # Iterate over all the columns in dataframe
    for x in range(df.shape[1]):
        # Select column at xth index.
        col = df.iloc[:, x]
        # Iterate over all the columns in DataFrame from (x+1)th index till end
        for y in range(x + 1, df.shape[1]):
            # Select column at yth index.
            otherCol = df.iloc[:, y]
            # Check if two columns at x 7 y index are equal
            if col.equals(otherCol):
                duplicateColumnNames.add(df.columns.values[y])
 
    return list(duplicateColumnNames)

In [30]:
duplicateColumnNames = getDuplicateColumns(msg_df)
print('Duplicate Columns are as follows')
for col in duplicateColumnNames:
  print('Column name : ', col)

Duplicate Columns are as follows
Column name :  cmt_ght_committed_at
Column name :  cmt_ght_committer_id
Column name :  cmt_author_email
Column name :  cmt_ght_author_id
Column name :  cmt_committer_email
Column name :  cmt_committer_affiliation

In [17]:
msg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20946 entries, 0 to 20945
Data columns (total 27 columns):
0     20946 non-null int64
1     20946 non-null int64
2     20946 non-null object
3     20946 non-null object
4     20946 non-null object
5     20946 non-null object
6     20946 non-null object
7     0 non-null float64
8     20946 non-null object
9     20946 non-null object
10    20946 non-null object
11    20946 non-null object
12    0 non-null float64
13    20946 non-null int64
14    20946 non-null int64
15    20946 non-null int64
16    19633 non-null object
17    20946 non-null object
18    0 non-null float64
19    0 non-null float64
20    0 non-null float64
21    20946 non-null object
22    20946 non-null object
23    20946 non-null object
24    20946 non-null object
25    20946 non-null object
26    20946 non-null object
dtypes: float64(5), int64(5), object(17)
memory usage: 4.3+ MB

In [16]:
# Delete duplicate columns
newDf = msg_df.drop(columns=duplicateColumnNames)
print("Modified Dataframe", newDf, sep='\n')

Modified Dataframe
             0      1   ...                      25                      26
0      34304725  25433  ...  2019-06-22 15:37:20+02  2019-06-22 15:37:20+02
1      34304726  25433  ...  2019-07-29 20:49:46+02  2019-07-29 20:49:46+02
2      34304727  25433  ...  2019-08-02 13:29:20+02  2019-08-02 13:29:20+02
3      34304728  25433  ...  2019-03-26 11:31:18+02  2019-03-26 11:31:18+02
4      34304729  25433  ...  2019-08-02 13:27:38+02  2019-08-02 13:27:38+02
...         ...    ...  ...                     ...                     ...
20941  34325666  25432  ...  2019-01-23 09:53:22+02  2019-01-23 09:53:22+02
20942  34325667  25432  ...  2019-08-06 14:47:24+02  2019-08-12 13:40:55+02
20943  34325668  25431  ...  2019-10-19 16:08:50+02  2019-10-20 12:40:31+02
20944  34325669  25431  ...  2019-10-19 16:08:50+02  2019-10-20 12:40:31+02
20945  34325670  25431  ...  2019-10-19 16:08:50+02  2019-10-20 12:40:31+02

[20946 rows x 21 columns]

In [20]:
print(len(columns))

27